/* Position */
.simple-keyboard-outer.top,
.simple-keyboard-outer.bottom {
    left: 20%;
    width: 60%;
}
.simple-keyboard-outer.left,
.simple-keyboard-outer.right {
    top: 50%;
    height: auto;
    width: 215px;
}

.simple-keyboard-outer.top {
    top: 0px;
    bottom: auto;
}
.simple-keyboard-outer.bottom {
    top: auto;
    bottom: 0px;
}
.simple-keyboard-outer.left {
    left: 0px;
    right: auto;
}
.simple-keyboard-outer.right {
    left: auto;
    right: 0px;
}

.simple-keyboard-outer.top {
    transform: translate(0,-100%);
}
.simple-keyboard-outer.bottom {
    transform: translate(0,100%);
}
.simple-keyboard-outer.top.visible,
.simple-keyboard-outer.bottom.visible {
    transform: translate(0,0);
}
.simple-keyboard-outer.left {
    transform: translate(-100%,-50%);
}
.simple-keyboard-outer.right {
    transform: translate(100%,-50%);
}
.simple-keyboard-outer.left.visible,
.simple-keyboard-outer.right.visible {
    transform: translate(0,-50%);
}

/* Animation */
.simple-keyboard-outer {
    transition: transform 200ms ease-in-out;
}
.no-transition {
    transition: none !important;
}

/* Theme */
.simple-keyboard-outer.top {
    background: var(--lcars-card-bottom-color) !important;
    border-radius: 0px 0px var(--ha-card-border-radius) var(--ha-card-border-radius) !important;
    border-left: var(--lcars-vertical-border) solid var(--lcars-card-bottom-color);
    border-right: var(--lcars-vertical-border) solid var(--lcars-card-bottom-color);
    border-bottom: var(--lcars-horizontal-border) solid var(--lcars-card-bottom-color);
}
.simple-keyboard-outer.bottom {
    background: var(--lcars-card-top-color) !important;
    border-radius: var(--ha-card-border-radius) var(--ha-card-border-radius) 0px 0px !important;
    border-left: var(--lcars-vertical-border) solid var(--lcars-card-top-color);
    border-right: var(--lcars-vertical-border) solid var(--lcars-card-top-color);
    border-top: var(--lcars-horizontal-border) solid var(--lcars-card-top-color);
}
.simple-keyboard-outer.left,
.simple-keyboard-outer.right {
    border-top: var(--lcars-horizontal-border) solid var(--lcars-card-top-color);
    border-bottom: var(--lcars-horizontal-border) solid var(--lcars-card-bottom-color);
    border-style: solid;
    border-color: transparent;
    background-image: linear-gradient(to bottom,
        var(--lcars-card-top-color) 26%,
        black 26%, black 28%,
        var(--lcars-card-mid-left-color) 28%,
        var(--lcars-card-mid-left-color) 72%,
        black 72%, black 74%,
        var(--lcars-card-bottom-color) 74%);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
}
.simple-keyboard-outer.left {
    border-top-right-radius: var(--ha-card-border-radius) !important;
    border-bottom-right-radius: var(--ha-card-border-radius) !important;
    border-left-width: 0px;
    border-right-width: var(--lcars-vertical-border);
}
.simple-keyboard-outer.right {
    border-top-left-radius: var(--ha-card-border-radius) !important;
    border-bottom-left-radius: var(--ha-card-border-radius) !important;
    border-left-width: var(--lcars-vertical-border);
    border-right-width: 0px;
}
.simple-keyboard {
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    border-radius: 0px;
}
.top .simple-keyboard {
    border-bottom-left-radius: var(--lcars-inner-radius);
    border-bottom-right-radius: var(--lcars-inner-radius);
}
.bottom .simple-keyboard {
    border-top-left-radius: var(--lcars-inner-radius);
    border-top-right-radius: var(--lcars-inner-radius);
}
.left .simple-keyboard {
    border-top-right-radius: var(--lcars-inner-radius);
    border-bottom-right-radius: var(--lcars-inner-radius);
}
.right .simple-keyboard {
    border-top-left-radius: var(--lcars-inner-radius);
    border-bottom-left-radius: var(--lcars-inner-radius);
}
.simple-keyboard .hg-button {
    background: var(--lcars-ui-quaternary);
    color: var(--text-dark-color);
}
.left .hg-theme-default .hg-row:first-child > div:last-child,
.bottom .hg-theme-default .hg-row:first-child > div:last-child {
    border-top-right-radius: 14px;
}
.right .hg-theme-default .hg-row:first-child > div:first-child,
.bottom .hg-theme-default .hg-row:first-child > div:first-child {
    border-top-left-radius: 14px;
}
.left .hg-theme-default .hg-row:last-child > div:last-child,
.top .hg-theme-default .hg-row:last-child > div:last-child {
    border-bottom-right-radius: 14px;
}
.right .hg-theme-default .hg-row:last-child > div:first-child,
.top .hg-theme-default .hg-row:last-child > div:first-child {
    border-bottom-left-radius: 14px;
}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn="@"] {
    max-width: 100%;
}
.simple-keyboard .hg-button.key-top {
    background: var(--lcars-ui-tertiary);
    color: var(--text-dark-color);
}
.simple-keyboard .hg-button.key-bottom {
    background: var(--lcars-ui-secondary);
    color: var(--text-dark-color);
}
.simple-keyboard .hg-button.key-hide,
.simple-keyboard .hg-button-at,
.simple-keyboard .hg-button-abc,
.simple-keyboard .hg-button-ABC {
    max-width: 60px;
}
.simple-keyboard .hg-button.key-hide::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 5H20V15H4V5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 8H8.01M12 8H12.01M16 8H16.01M8 12H8M12 12H12.01M16 12H16.01M12 21M12 21L15 18M12 21L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
    background-size: contain;
    color: var(--text-dark-color);
}
